config.yaml
.idea/asa-finalProject.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.snakemake/
results/
resources/kraken_db
.snakemake/
headers.txt
busco_downloads/
sample1_qc/
sample1.fasta
resources/references/GCF_000005845.2_ASM584v2_genomic.fna.gz
resources/references/contamination_short.fna
.gitignore
resources/references/contamination_long.fna
